body {
  font-family: 'Roboto', sans-serif;
}

/* Navbar */
img {
  width: 100%;
}

.nav-top {
  background-color: #f72210;
  width: 100%;
}

.logo {
  width: 30%;
}

.button-logo {
  border-radius: 20px;
}

.logo-icon {
  width: 7%;
}

.header-top {
  font-size: 14px;
  border-bottom: 2px solid #f8f9fa;
}

.header-lower {
  border-bottom: 2px solid #f8f9fa;
}

.header-top::before {
  width: 66px;
  position: absolute;
  right: 0;
  content: "";
  display: block;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
  z-index: -1;
}

.header-bottom {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  font-size: 19px;
}

.nav-link {
  border-right: 2px solid #f8f9fa;
}

.nav-link-2 {
  padding: 10px;
}

/* =====IN THE MAGAZINE SECTION===== */

.in-the-magazine {
  margin: 20px;
}

.icon {
  color: white;
  padding-right: 10px;
  padding-left: 10px;
}

.overboard {
  position: absolute;
  margin-bottom: 20px;
  padding-bottom: 40px;
  background-color: #f8f9fa;
}

.y {
  position: absolute;
  top: 0;
  right: 0;
}

.bottom-left-1 {
  position: absolute;
  bottom: 50px;
  left: 10px;
}

.card-img-top {
  height: 40vh;
}

.hover-o:hover {
  text-decoration: underline #f72210;
}

.m-article {
  align-self: flex-end;
  margin-top: 16px;
}

.bg-orange {
  background-color: #f72210;
}

.heavy {
  font-weight: 700;
}

.font-roboto {
  font-family: 'Roboto Condensed', sans-serif;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-15 {
  font-size: 15px;
}

.fs-18 {
  font-size: 18px;
}

.fs-19 {
  font-size: 19px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.width-100 {
  width: 100%;
}

.float-right {
  float: inline-end;
}

.text-orange {
  color: #f72210;
}

.sub-card {
  height: 390px;
  width: auto;
  position: relative;
  background-color: #f4f5f7;
}

.bg-grey {
  background-color: #f4f5f7;
}

.sub-img1 {
  position: absolute;
  top: 24px;
  left: 50%;
  margin-left: -130px;
  z-index: 1;
}

.sub-img-right {
  width: 63px;
}

.sub-img2 {
  position: absolute;
  top: 34px;
  left: 50%;
  margin-left: -50px;
  z-index: 2;
}

.sub-txt-abs1 {
  position: absolute;
  bottom: 35%;
  width: 70%;
  left: 50%;
  margin-left: -35%;
  z-index: 3;
}

.sub-txt-abs2 {
  position: absolute;
  bottom: 10%;
  width: 70%;
  left: 50%;
  margin-left: -35%;
}

.sub-txt {
  text-align: center;
  font-size: 15px;
}

.sub-headline {
  font-size: 17px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #000;
  font-weight: 800;
  text-align: center;
}

.newsletters-img-div {
  height: 170px;
  width: auto;
  object-fit: cover;
}

.newsletters-img {
  width: 100%;
  height: 100%;
}

.starting-h3 {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}

.starting-p {
  font-size: 15px;
  width: 90%;
  text-align: center;
}

.last-img {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.bg-white {
  background-color: white;
}

.sub-img {
  width: 170px;
  height: 227px;
}

.sub-img-cover {
  position: absolute;
  left: 20px;
  top: 20px;
}

.p-30 {
  padding: 30px;
}

.pl-30 {
  padding-left: 30px;
}

.subscribe {
  padding-top: 16px;
}

.ml-50 {
  margin-left: 50px;
}

.sub-btn {
  width: 152px;
  border-radius: 3px;
  padding: 10px 10px 10px 12px;
  font: bold 16px/16px "Roboto Condensed", sans-serif;
}

.mb-md-40 {
  margin-bottom: 40px;
}

/* =====THE FOOTER SECTION===== */

input {
  width: 100%;
}

.s17px {
  font-size: 17px;
  font-weight: bold;
}

.navbar-toggler {
  border: none;
}

.fa-bars {
  color: rgba(255, 255, 255, 0.55);
}

/* The Debate Section */

.debate-profiles {
  width: 20%;
  height: 20%;
}

.the-proponent {
  padding: 12px 0;
  border-top: 4px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.the-opponent {
  padding: 12px 0;
  border-bottom: 4px solid lightgray;
  border-top: 1px solid lightgray;
}

.the-opinion-con {
  border-bottom: 1px solid black;
}

.sponsored-insight-con {
  border: 1px solid gray;
  padding: 6px 15px;
}

aside {
  float: left;
}

.more-stories {
  border-bottom: 1px solid lightgray;
}

.more-content {
  border-bottom: 1px solid lightgray;
}

.more-content-latest {
  border-top: 1px solid lightgray;
}

.lower-text {
  font-size: 18px;
}

.red-logo {
  width: 20%;
  height: 10%;
}

.red-logo-h5 {
  font-size: 18px;
}

.form-class {
  background-color: #f4f5f6;
  border: 1px solid lightgray;
}

.submit {
  width: 100%;
  border: none;
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 3px 0;
}

.sponsored-insight-h4 {
  margin-bottom: -25px;
}

.text-over-image {
  position: relative;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

.bottom-left-travel {
  position: absolute;
  bottom: 0;
  font-weight: bold;
  font-size: 14px;
  padding: 3px;
  background-color: #c2d4d7;
}

.a-hover:hover {
  text-decoration: none;
}

.input-form {
  border: 1px solid lightgray;
}

.a-deco:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

.mc-no-border {
  border: none;
}

.ln-border {
  border-bottom: 1px solid lightgray;
}

@media screen and (min-width: 768px) {
  .my-turn-h4 {
    margin-top: -1450px;
  }

  .cards.mt-3.col-md-4 {
    margin-top: 0 !important;
  }

  .mt-3 {
    margin-top: 0 !important;
  }

  .more-stories-md {
    margin-left: 33%;
    margin-top: -2400px;
  }

  .the-opinion-con {
    border-bottom: 1px solid black;
    padding-bottom: 25px;
    padding-top: 25px;
  }

  .sponsored-insight-2 {
    width: 50%;
    margin: auto;
  }

  .more-content {
    display: flex;
  }

  .copy {
    margin-bottom: 0;
    line-height: 12px;
  }

  .border-md {
    border: 1px solid #ccc;
  }

  .mb-md-40 {
    margin-bottom: 0;
  }

  .text-md-left {
    text-align: left !important;
  }

  .bg-img {
    height: 100%;
  }

  .btn-sub {
    background-color: #ffe400;
    border-radius: 25px;
    padding: 5px 15px;
    border: 0;
    font-size: 18px;
    font-weight: 700;
  }

  .border-end-sm {
    border-right: 1px solid #666;
  }

  .social {
    margin: 0;
  }

  .subscribe {
    padding: 40px 30px;
  }
}

@media only screen and (min-width: 992px) {
  .sign-up {
    text-align: left !important;
  }

  .item-height {
    height: 95px;
  }

  .logo {
    height: 60px;
  }

  .border-end-sm {
    border-right: 1px solid #666;
  }

  .social {
    margin: 0;
  }

  .subscribe {
    padding: 40px 30px;
  }

  .debate-profiles {
    width: 10%;
    height: 20%;
  }

  .the-proponent {
    padding: 12px 0;
    border-top: 4px solid lightgray;
    border-bottom: 1px solid lightgray;
  }

  .the-opponent {
    padding: 12px 0;
    border-bottom: 4px solid lightgray;
    border-top: 1px solid lightgray;
  }
}

@media screen and (min-width: 1024px) {
  .footer-top {
    display: flex;
    align-items: flex-end;
  }

  .sponsored-insight {
    width: 100%;
  }

  .my-turn-h4 {
    margin-top: -1450px;
  }

  .more-stories-md {
    margin-top: -2300px;
    margin-left: 25%;
  }

  .sponsored-insight-2 {
    width: 100%;
    margin-top: -2050px;
  }

  .red-logo {
    width: 20%;
  }

  .red-logo-h5 {
    font-size: 15px;
  }

  .debate-profiles {
    width: 40%;
    height: 20%;
  }

  .the-proponent {
    padding: 12px 0;
    border-top: 4px solid lightgray;
    border-bottom: 1px solid lightgray;
  }

  .the-opponent {
    padding: 12px 0;
    border-bottom: 4px solid lightgray;
    border-top: 1px solid lightgray;
  }

  .the-opinion-con {
    border-bottom: 1px solid black;
  }
}
